html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5e1c5; 
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}

.page-container {
    background-color: #f5e6cc; 
    min-height: 100vh;      
  }
  
  .page-container h2,
  .page-container p {
    color: #3e2723;         
  }